<.flash_group flash={@flash} />
<.navbar current_user={@current_user} />

<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
  <.sidebar />
  <div class="hidden fixed inset-0 z-10 bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop">
  </div>
  <div
    id="main-content"
    class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900"
  >
    <%= @inner_content %>
  </div>
</div>
