@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../vendor/fontawesome/brands";
@import "../vendor/fontawesome/regular";
@import "../vendor/fontawesome/solid";
@import "../vendor/fontawesome/fontawesome";
@import "../node_modules/photoswipe/dist/photoswipe.css";
/* This file is for your main application CSS */

/* chart styles */
.apexcharts-tooltip {
	@apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
	@apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500 !important;
}

.apexcharts-xaxistooltip {
	@apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg !important;
}

.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
	@apply dark:text-white;
}

.apexcharts-xaxistooltip-text {
	@apply font-medium text-sm !important;
}

.apexcharts-xaxistooltip:before,
.apexcharts-xaxistooltip:after {
	@apply border-0 !important;
}

/* SVG map styles */
.svgMap-map-wrapper {
	@apply bg-white !important;
}

.svgMap-map-image {
	@apply dark:bg-gray-800;
}

.svgMap-map-controls-wrapper {
	@apply shadow-none left-0 bottom-0 dark:bg-gray-800 !important;
}

.svgMap-map-controls-zoom {
	@apply dark:bg-gray-800 !important;
}

.svgMap-map-wrapper .svgMap-control-button {
	@apply rounded-lg border-solid border border-gray-300 hover:bg-gray-100 dark:border-gray-600 dark:hover:bg-gray-600 !important;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:after,
.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before {
	@apply dark:bg-gray-600 dark:hover:bg-gray-500;
}

.svgMap-map-wrapper .svgMap-control-button:first-child {
	@apply mr-2 !important;
}

.svgMap-tooltip {
	@apply bg-white dark:bg-gray-700 shadow-lg rounded-lg border-0 text-left !important;
}

.svgMap-tooltip .svgMap-tooltip-content-container .svgMap-tooltip-flag-container {
	@apply inline-block mr-2 text-left border-0 p-0 !important;
}

.svgMap-tooltip .svgMap-tooltip-content-container .svgMap-tooltip-flag-container .svgMap-tooltip-flag {
	@apply inline-block border-0 h-4 p-0 !important;
}

.svgMap-tooltip .svgMap-tooltip-title {
	@apply inline-block pt-2 text-gray-900 dark:text-white font-semibold text-sm !important;
}

.svgMap-tooltip .svgMap-tooltip-content {
	@apply mt-0 !important;
}

.svgMap-tooltip .svgMap-tooltip-content table td {
	@apply text-sm text-left text-gray-500 dark:text-gray-400 font-normal !important;
}

.svgMap-tooltip .svgMap-tooltip-content table td span {
	@apply text-sm text-left text-gray-900 dark:text-white font-semibold !important;
}

.svgMap-tooltip .svgMap-tooltip-pointer {
	@apply hidden !important;
}

.svgMap-map-wrapper .svgMap-country {
	@apply dark:stroke-gray-800;
}

/* kanban styles */

.drag-card {
	@apply opacity-100 !important;
	@apply rotate-6;
}

.ghost-card {
	@apply bg-gray-100/40 dark:bg-gray-600/40 !important;
}

/* calendar styles */

.fc .fc-toolbar {
	@apply flex-row-reverse justify-end px-4 !important;
}

.fc .fc-toolbar.fc-header-toolbar {
	@apply mb-5 !important;
}

.fc .fc-toolbar-title {
	@apply text-lg text-gray-900 font-semibold !important;
}

.fc .fc-today-button {
	@apply rounded-lg border border-gray-200 bg-white text-sm font-medium px-4 py-2 text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-2 focus:ring-primary-700 focus:text-primary-700 !important;
}

.fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
	@apply mx-2 !important;
}

.fc .fc-button-group .fc-prev-button,
.fc .fc-button-group .fc-next-button {
	@apply bg-white border-0 text-gray-500 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 rounded inline-flex focus:bg-gray-100 focus:ring-1 focus:ring-gray-100 justify-center !important;
}

.fc .fc-scrollgrid {
	@apply border-l-0 border-gray-200 !important;
}

.fc .fc-daygrid-day-frame {
	@apply border-gray-200 !important;
}

.fc .fc-col-header-cell-cushion {
	@apply py-3 text-base text-gray-900 font-semibold !important;
}

.fc-theme-standard th {
	@apply border-0 border-b border-gray-200 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
	@apply mr-2 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
	@apply ml-2 !important;
}

.fc .fc-event .fc-event-main {
	@apply p-2 bg-primary-700 hover:bg-primary-800 !important;
}

.fc .fc-h-event .fc-event-main-frame {
	@apply text-xs font-semibold !important;
}

.fc .fc-daygrid-day-frame {
	@apply hover:bg-gray-50 cursor-pointer !important;
}

/* feed styles */

@media (min-width: 1280px) {
	.feed-container {
		height: calc(100vh - 4rem);
	}
}



/* ===============================
=            Select2 CSS            =
=============================== */

.select2-container {
	/* The container where the selectbox is housing*/
	@apply relative box-border align-middle inline-block m-0 mb-2;
}


.select2-container .select2-selection--single {
	/* Selection box itself */
	@apply box-border cursor-pointer block select-none shadow border rounded;
	/* @apply border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-primary-500 dark:focus:border-primary-500 */
}

.select2-container .select2-selection--single .select2-selection__rendered {
	/* DIV inside Selection box with text, clear button and arrow down*/
	@apply block h-6 pl-1 pr-6 truncate;
}

.select2-container .select2-selection--single .select2-selection__clear {
	/* The DIV where the X is housing to clear the chosen option */
	@apply relative -m-1;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	/*@apply;*/
}

.select2-container .select2-selection--multiple {
	@apply box-border overflow-hidden h-4 cursor-pointer block select-none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	@apply inline-block pl-2 truncate whitespace-normal;
}

.select2-container .select2-search--inline {
	/* Search box*/
	@apply float-left w-full;
}

.select2-container .select2-search--inline .select2-search__field {
	@apply box-border border dark:border-gray-600 pl-1 my-1 w-full text-base;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	@apply appearance-none;
}

.select2-dropdown {
	/* Dropdown area after the arrow down is clicked */
	@apply absolute block w-auto box-border bg-white dark:bg-slate-700 border-solid border border-gray-200 z-50 float-left;
}

.select2-results {
	@apply block text-black dark:text-gray-300;
}

.select2-results__options {
	@apply list-none m-0 p-0;
}

.select2-results__option {
	/* The rows with results that you see after dropdown.
	Increase p-1 to p-2 to have more space between results */
	@apply p-1 select-none;
}

.select2-results__option[aria-selected] {
	@apply cursor-pointer;
}

.select2-container--open .select2-dropdown {
	/* Dropdown container opened and results are shown*/
	@apply mt-3 left-0;
}

.select2-container--open .select2-dropdown--above {
	/* The left and right borders of the option rows */
	@apply rounded border-gray-400 dark:border-gray-700 shadow;
}

.select2-container--open .select2-dropdown--below {
	/* The left and right borders of the option rows */
	@apply rounded border-gray-400 dark:border-gray-700 shadow;
}

.select2-search--dropdown {
	/* Search dropdown element*/
	@apply block p-2;
}

.select2-search--dropdown .select2-search__field {
	/* Search box itself where you can enter text*/
	@apply w-full h-8 p-1 bg-white dark:bg-slate-500 box-border rounded border-2 border-blue-300 dark:border-gray-700 dark:text-gray-200 outline-none focus:ring-2 focus:ring-primary-300;
	width: 100% !important;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	@apply appearance-none;
}

.select2-search--dropdown.select2-search--hide {
	@apply hidden;
}

.select2-close-mask {
	@apply block w-12 min-w-full m-0 p-0;
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


/* 

	Default template settings:

*/

.select2-container--default .select2-selection--single {
	/* Selection bar - Self */
	@apply p-2 h-10 bg-white dark:bg-slate-700 border border-solid dark:border-gray-700;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	/* Selection bar - Text color of the item you selected from the results */
	@apply text-gray-700 dark:text-gray-200;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	/* Selection bar - Clear button - If this property is enabled*/
	@apply cursor-pointer float-right text-red-700;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	/* Selection bar - Color of the placeholder text before selection - If this property is enabled */
	@apply text-gray-600 dark:text-gray-300;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	/* Selection bar - DIV where the arrow pointing down is living*/
	@apply absolute right-0 top-0 h-10 w-8;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	/* Arrow is a CSS triangle that does not exists in Tailwind without a package */
	@apply absolute border-solid h-0 w-0 border-t-4 border-r-4 border-b-0 border-l-4;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	top: 50%;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	/* Selection bar - Clear button - If this property is enabled from right to left*/
	@apply float-left ml-4;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	/* Placement of the dropdown arrow when in rtl mode */
	@apply left-0 right-auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
	/* Selection by property disabled*/
	@apply cursor-default bg-gray-300;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
	/* Selection bar - Hide the clear cross when selection bar is disabled*/
	@apply hidden;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
	@apply p-1 min-h-full h-full border border-solid dark:border-gray-700 rounded shadow bg-white dark:bg-slate-700;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	@apply box-border list-none m-0 px-1 min-w-full;
}

.select2-container--default .select2-selection--multiple .select3-selection__rendered li {
	@apply list-none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
	@apply float-right cursor-pointer mt-1 mr-2 p-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	@apply border-gray-200 dark:border-gray-700 divide-gray-200 dark:divide-gray-700 font-medium inline-flex items-center justify-center mx-1 px-2.5 py-0.5 text-sm bg-primary-100 text-primary-800 dark:bg-primary-700 dark:text-primary-300 rounded
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	@apply text-primary-700 dark:text-primary-200 cursor-pointer inline-block mr-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	@apply text-primary-700 dark:text-primary-200;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	@apply border-2 outline-none;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	@apply hidden;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	@apply bg-gray-300 border-2 dark:border-gray-700 shadow rounded float-left cursor-default mt-1 mr-1 px-1;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	/* The border of the search textbox */
	@apply border-solid border-2;
}

.select2-container--default .select2-search--inline .select2-search__field {
	/* Search textbox */
	@apply border-none rounded-sm bg-transparent outline-none focus:ring-2 focus:ring-primary-300 shadow-none select-text !h-8 !w-full;
}

.select2-container--default .select2-results>.select2-results__options {
	/* Hight of the dropdown zone where the options or results are visible */
	@apply h-full max-h-64 overflow-y-auto;
}

.select2-container--default .select2-results__option[role=group] {
	/* No clue what this does */
	@apply p-0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
	@apply text-gray-700;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	/* The already selected option row color */
	@apply bg-gray-300 dark:text-gray-700;
}

.select2-results__option--selected {
	@apply hidden;
}

.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	/* Background color and text color of the options rows when select is open */
	@apply bg-gray-100 dark:bg-gray-500 text-gray-700 dark:text-gray-200;
}

.select2-container--default .select2-results__group {
	/* Have no idea what this is for */
	@apply cursor-default block;
	padding: 6px;
}